<app-menu></app-menu>

<div class="container">
    <main class="text-center w-100 mt-5">
        <div class="col">
            <div class="mb-5">
                <button class="btn btn-lg btn-secondary" (click)="onClickusr()">Gestion usuarios</button>
            </div>
            <div class="mb-5">
                <button class="btn btn-lg btn-secondary" (click)="onClickfac()">Gestion facultades</button>
            </div>
            <div class="mb-5">
                <button class="btn btn-lg btn-secondary" (click)="onClickprog()">Gestion programas</button>
            </div>
            <div class="mb-5">
                <button class="btn btn-lg btn-secondary">Gestion pensums</button>
            </div>
            <div class="mb-5">
                <button class="btn btn-lg btn-secondary">Gestion requisitos</button>
            </div>
        </div>
    </main>
</div>